doctype html
head
  meta(charset='UTF-8')
  title  Home
  link(rel='stylesheet' href='css/styles.css')
.message-box
  h1#welcome-message welcome!
  a(href='/userprofile') Go to profile
script.
    const req = new XMLHttpRequest();
    req.onreadystatechange = function () {
        if (req.readyState == 4 && req.status == 200) {
            const user = JSON.parse(req.response).user;
            document.getElementById("welcome-message").innerText = `Welcome ${user.username}!!`;
        }
    };
    req.open("GET", "http://localhost:8080/user", true);
    req.send();
