doctype html
head
    title  Login
    link(rel='stylesheet' href='css/styles.css')
form(action='/login' method='post')
    .title
        h3 Login
    .field
        label email:
        input(type='text' name='email')
        br
    .field
        label Password:
        input(type='password' name='password' required='')
    .field
        input.submit-btn(type='submit' value='Submit' required='')
    label#error-message

