<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>JobShare</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="../../public/images/favicon.png" rel="icon">
  <link href="../../public/images/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="../../public/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="../../public/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../../public/lib/animate/animate.min.css" rel="stylesheet">
  <link href="../../public/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="../../public/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../../public/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="../../public/stylesheets/style.css" rel="stylesheet">

</head>

<body>

  <!--==========================
  Header
  ============================-->
  <header id="header" class="fixed-top">
    <div class="container">

      <div class="logo float-left">
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <h1 class="text-light"><a href="#header"><span>JobShare</span></a></h1> -->
        <a href="index.html" class="scrollto"><img src="../../public/images/logo4.png" alt="" class="img-fluid"></a>
      </div>

      <nav class="main-nav float-right d-none d-lg-block">
        <ul>
          <li><a href="employee-sharing.html">Employee Sharing</a></li>
          <li><a href="job-recruitment.html">Job Recruitment</a></li>
          <li><a href="task-finding.html">Task Finding</a></li>
          <li><a href="login.html">Login</a></li>
          <li><a href="register.html">Register</a></li>
          <li class="drop-down"><a href="">Drop Down</a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="drop-down"><a href="#">Drop Down 2</a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
              <li><a href="#">Drop Down 5</a></li>
            </ul>
          </li>
          <li><a href="contact us.html">Contact Us</a></li>
		  <li><a href="your-profile.html">Your Profile</a></li>
        </ul>
      </nav><!-- .main-nav -->
      
    </div>
  </header><!-- #header -->
  
    <!--==========================
    Intro Section
  ============================-->
  <section id="intro" class="clearfix">

  </section><!-- #intro -->



   <!--==========================
    register Section
  ============================-->
	<section id="Register">
		<div class="mini-container" align="center">
			<h2>Individual registration</h2>
			 <h4 class="title"><a href="company-register.html">Change to Company Register</a></h4>
			<form action="login.php" method="post">
				<input name="username" id="username" placeholder="Username" type="text" required=""/>
				<br>
				<input name="password" id="password" placeholder="Password" type="password"  required=""/>
				<br>
				<input name="Firstname" id="Firstname" placeholder="First Name" type="text" required=""/>
				<br>
				<input name="Givenname" id="Givenname" placeholder="Givenname" type="text"  required=""/>
				<br>
				<input name="gender" id="gender" placeholder="Gender" type="text" required=""/>
				<br>
				<input name="birthday" id="birthday" placeholder="Birthday:e.g:24/11/1997" type="text"  required=""/>
				<p></p>
				<input type="submit" value="Submit" class="button" name="submit" id="loginSubmit" onclick="return validate_login()"> 
			</form>
			<br>
		</div>
	</section><!-- #intro -->

</body>