<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>JobShare</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="../../public/images/favicon.png" rel="icon">
  <link href="../../public/images/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="../../public/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="../../public/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../../public/lib/animate/animate.min.css" rel="stylesheet">
  <link href="../../public/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="../../public/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../../public/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="../../public/stylesheets/style.css" rel="stylesheet">

</head>

<body>

  <!--==========================
  Header
  ============================-->
  <header id="header" class="fixed-top">
    <div class="container">

      <div class="logo float-left">
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <h1 class="text-light"><a href="#header"><span>JobShare</span></a></h1> -->
        <a href="index.html" class="scrollto"><img src="../../public/images/logo4.png" alt="" class="img-fluid"></a>
      </div>

      <nav class="main-nav float-right d-none d-lg-block">
        <ul>
          <li><a href="employee-sharing.html">Employee Sharing</a></li>
          <li><a href="job-recruitment.html">Job Recruitment</a></li>
          <li><a href="task-finding.html">Task Finding</a></li>
          <li><a href="login.html">Login</a></li>
          <li><a href="register.html">Register</a></li>
          <li class="drop-down"><a href="">Drop Down</a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="drop-down"><a href="#">Drop Down 2</a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
              <li><a href="#">Drop Down 5</a></li>
            </ul>
          </li>
          <li><a href="contact us.html">Contact Us</a></li>
		  <li><a href="your-profile.html">Your Profile</a></li>
        </ul>
      </nav><!-- .main-nav -->
      
    </div>
  </header><!-- #header -->
  
    <!--==========================
    Intro Section
  ============================-->
  <section id="intro" class="clearfix">

  </section><!-- #intro -->




<!--==========================
      Your Profile Section
    ============================-->
    <section id="profile">
      <div class="container">
        <div class="section-header">
          <h3>Your Profile</h3>
          
        </div>

        <div class="row">
			<div class="col-sm-2">
                <img class="propic" src="../../public/images/team-1.jpg" alt="">
            </div>
			<div class="col-sm-10">
                <div class="cv-title">
                    <div class="row">
                        <div class="col-sm-7">
                            <h1>Towkir A. Bappy</h1>
                        </div>
                        <div class="col-sm-5 text-right dl-share">
                            <!-- AddToAny BEGIN -->
                           
                            

                            <a class="btn btn-success" href=""><span class="fa fa-download"></span> Edit</a>
                        </div>
                    </div>
                    <h2>UI/UX Designer</h2>
                </div><!-- Title end-->

                <!-- ===========================
                SOCIAL & CONTACT
                ============================ -->
                <div class="row">
                    <div class="col-sm-4">
                        <ul class="list-unstyled">
                            <li><a href=""><span class="social fa fa-home"></span>Address:Building,Pincode,City,State, Country</a>
                            </li>
                            <li><a href=""><span class="social fa fa-skype"></span>+88 0123 45678</a>
                            </li>
                            <li><a href="mailto:support@website.com"><span class="social fa fa-envelope-o"></span>me@mail.com</a>
                            </li>
                        </ul>
                    </div><!-- social 1st col end-->

                    <div class="col-sm-4">
                        <ul class="list-unstyled">
                            <li><a href=""><span class="social fa fa-facebook"></span>Birth of date</a>
                            </li>
                            <li><a href=""><span class="social fa fa-twitter"></span>Diploma</a>
                            </li>
                            <li><a href=""><span class="social fa fa-linkedin"></span>Linkedin</a>
                            </li>
                        </ul>
                    </div><!-- social 2nd col end-->

                    <div class="col-sm-4">
                        <ul class="list-unstyled">
                            <li><a href=""><span class="social fa fa-behance"></span>Behance</a>
                            </li>
                            <li><a href=""><span class="social fa fa-dribbble"></span>Dribbble</a>
                            </li>
                            <li><a href=""><span class="social fa fa-instagram"></span>Instagram</a>
                            </li>
                        </ul>
                    </div><!-- social 3rd col end-->
                </div><!-- header social end-->
            </div><!-- header right end-->
        </div>

          <div id="statement" class="row mobmid">
                <div class="col-sm-1">
                    <span class="secicon fa fa-user"></span>
                </div><!--icon end-->

                <div class="col-sm-11">
                    <h3>Statement </h3>
                    <p>Hi, I am Bappy from Bangladesh.Adipiscing elit. Nullam dapibus vehicula condimentum. Curabitur elit enim, accumsan vitae tristique ut, mollis at orci. Fusce cursus interdum neque nec aliquam. Proin turpis leo, laoreet non ultricies non, dictum nec nulla. Duis vitae nisi eu odio Adipiscing elit. Nullam dapibus vehicula condimentum. Curabitur elit enim, accumsan.</p>

                    <p>Consectetur adipisicing elit. Hic labore, unde, ratione, itaque ducimus provident error similique qui, recusandae nam dignissimos autem. Sequi quas quis non, odit assumenda similique neque.</p>

                    <p class="signature">TowkirAhmed</p>
                </div><!--info end-->
            </div><!--personal statement end-->

            <hr>

            <div id="education" class="row mobmid">
                <div class="col-sm-1">
                    <span class="secicon fa fa-graduation-cap"></span>
                </div><!--icon end-->

                <div class="col-sm-11">
                    <h3>Background</h3>

                    <div class="row">
                        <div class="col-md-9">
                            <h4>MSc in Design &amp; Fine Art</h4>
                            <p class="sub"><a href="">Ideal Institute of Science and Technology</a>
                            </p>
                            <p>Studying all aspect of Graphic Design Including Advertising Design, Branding, Copy Exhibition Design, Ilustration, Information Design, Packaging Design and Website Design</p>
                        </div>

                        <div class="year col-md-3">
                            <p>2009-2011</p>
                        </div>
                    </div><!--Education & Certification 1 end-->
                    
                    <hr>
                    
                    <div class="row">
                        <div class="col-md-9">
                            <h4>BSc in Graphic Design</h4>
                            <p class="sub"><a href="">Ideal Institute of Science and Technology</a>
                            </p>
                            <p>Studying all aspect of Graphic Design Including Advertising Design, Branding, Copy Exhibition Design, Ilustration, Information Design, Packaging Design and Website Design</p>
                        </div>

                        <div class="year col-md-3">
                            <p>2006-2009</p>
                        </div>
                    </div><!--Education & Certification 2 end-->

                    <hr>

                    <div class="row">
                        <div class="col-md-9">
                            <h4>Diploma in Graphic Design</h4>
                            <p class="sub"><a href="">Ideal Institute of Science and Technology</a>
                            </p>
                            <p>Studying all aspect of Graphic Design Including Advertising Design, Branding, Copy Exhibition Design, Ilustration, Information Design, Packaging Design and Website Design</p>
                        </div>

                        <div class="year col-md-3">
                            <p>2003-2006</p>
                        </div>
                    </div><!--Education & Certification 3 end-->
                </div>
            </div><!--Education & Certifications end-->
			<!-- ===========================
            JOB EXPERIENCES
            ============================ -->
            <div id="job" class="row mobmid">
                <div class="col-sm-1">
                    <span class="secicon fa fa-briefcase"></span>
                </div><!--icon end-->

                <div class="col-sm-11">
                    <h3>Experiences</h3>

                    <div class="row">
                        <div class="col-md-9">
                            <h4>Lead Graphic Designer</h4>
                            <p class="sub"><a href="">Lifeview Media Ltd.</a>
                            </p>
                            <p>Adipiscing elit. Nullam dapibus vehicula condimentum. Curabitur elit enim, accumsan vitae tristique ut, mollis at orci. Fusce cursus interdum neque nec aliquam. Proin turpis leo, laoreet non ultricies non, dictum nec nulla.</p>
                        </div>

                        <div class="year col-md-3">
                            <p>2008 - present</p>
                        </div>
                    </div><!--Job 1 end-->
                    
                    <hr>
                    
                    <div class="row">
                        <div class="col-md-9">
                            <h4>Sr. Graphic Designer</h4>
                            <p class="sub"><a href="">Softech solution ltd.</a>
                            </p>
                            <p>Studying all aspect of Graphic Design Including Advertising Design, Branding, Copy Exhibition Design, Ilustration, Information Design, Packaging Design and Website Design</p>
                        </div>

                        <div class="year col-md-3">
                            <p>2006-2008</p>
                        </div>
                    </div><!--Job 2 end-->
                    
                    <hr>
                    
                       <div class="row">
                        <div class="col-md-9">
                            <h4>Jr. Graphic Designer</h4>
                            <p class="sub"><a href="">TwinTwin Design Solution</a>
                            </p>
                            <p>Studying all aspect of Graphic Design Including Advertising Design, Branding, Copy Exhibition Design, Ilustration, Information Design, Packaging Design and Website Design</p>
                        </div>

                        <div class="year col-md-3">
                            <p>2003-2006</p>
                        </div>
                    </div><!--Job 3 end-->
                </div><!--Job experiences end-->
            </div><!--Job experiences end-->
			<div id="job" class="row mobmid">
                <div class="col-sm-1">
                    <span class="secicon fa fa-briefcase"></span>
                </div><!--icon end-->

                <div class="col-sm-11">
                    <h3>Process</h3>

                    <div class="row">
                        <div class="col-md-9">
                            <h4>Alibaba</h4>
                            <p class="sub"><a href="">HR</a>
                            </p>
                            <p>apply for job:in process</p>
                        </div>

                        <div class="year col-md-3">
                            <p>2008.1</p>
                        </div>
                    </div><!--Job 1 end-->
                    
                    <hr>
                    
                    <div class="row">
                        <div class="col-md-9">
                            <h4>Tencent</h4>
                            <p class="sub"><a href="">Softech Engeneer</a>
                            </p>
                            <p>Publish job:Success</p>
                        </div>

                        <div class="year col-md-3">
                            <p>2019.2</p>
                        </div>
                    </div><!--Job 2 end-->
                    
                   
                    </div><!--Job 3 end-->
                </div><!--Job experiences end-->
            </div><!--Job experiences end-->
        </div>	
			
		

      </div>
    </section><!-- #team -->


</body>